textarea {
    min-height: 400px;
}
#emails-view {
    margin-top: 10px;
}
#eachmail {
    margin-top: auto;
    background-color: rgb(252, 252, 252);
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
}

#mailsender {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}
#subject {
    font-style: italic;
}

#timestamp {
    font-size: x-small;
    text-align: end;
    padding: 2px;
    color: grey;
}