textarea {
    min-height: 400px;
}
#emails-view {
    margin-top: 10px;
}


#mailsender {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}
#subject {
    font-style: italic;
}

#timestamp {
    font-size: x-small;
    text-align: end;
    padding: 2px;
    color: grey;
}

.clickable {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    transition: background-color 0.3s;
    margin-bottom: 4px;
    
}

.clickable:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    color: #ffffff;
}